// Colors

$gray-900: #15171A;
$gray-800: #3F3F46;
$gray-700: #574954;
$gray-600: #5C5157;
$gray-550: #BFBFBF;
$gray-500: #f1f1f1;
$gray-400: #D1D1D6;
$gray-300: #E4E4E7; // border
$gray-200: #F6F6F6; // bg on hover
$gray-100: #FCFCFD; // bg color
$gray-50: #FAFAFA;

$orange: #EF762F;

$burgundy-900: #511F3A;
$burgundy-800: #762D54;
